/* Login.css */
.login-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px 30px 20px;
  zoom: 110%;
  border-radius: 8px;
  background: linear-gradient(25deg, rgba(38, 0, 252, 0.6), rgba(255, 0, 234, 0.6));
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Condensed', sans-serif;
}

.login-container h2{
  text-align: center;
  font-size: 35px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container label {
  font-weight: bold;
}

.login-container label ,input ,button{
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px;
  font-size: 20px;
}

.login-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  /* padding: 10px; */
  width: 100px;
  font-size: 22px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container p {
  margin-top: 10px;
}

.login-container a {
  color: #007bff;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}